<form (ngSubmit)="onSubmit(inputGoal !== '')" class="bg-red-100 text-center m-5 p-11 flex flex-col">
  
  <label for="Goals" class="mb-2 text-2xl font-sans text-gray-600 dark:text-white ">Write each of your goals for 2023 here, and you will be able to mark them as completed when you have achieved them.</label>
  
  <div class="flex justify-center">
    <input type="text" [(ngModel)]="inputGoal" name="inputGoal" class="text-center p-2.5 w-3/4 text-lg text-gray-900 bg-gray-50 rounded-sm border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your goals here..." >
  </div>
    
<div class="flex justify-center mt-4">
  <button type="submit" class="bg-green-700 hover:bg-green-500 text-white w-40 font-bold py-2 px-4 rounded-sm ">Save your goal</button>
</div>

</form>